# App
APP_NAME=Just-Do-GG Server
DEBUG=true

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/justdogg

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_SECRET=super-secret-key-change-me
